/* Custom Style */
*{
    margin: 0;
    padding: 0;
}
@keyframes down {
    0%{margin-top: 20%; opacity: 0.7;}
    100%{margin-top: 50%; opacity: 0.1;}
}
@font-face {
    font-family:IRANSansWeb;
    src:url(../fonts/IRANSansWeb_UltraLight.woff2) format("woff2"),
        url(../fonts/IRANSansWeb_UltraLight.woff) format("woff");
    font-weight:200;font-style:normal}
@font-face {
font-family:IRANSansWeb;
src:url(../fonts/IRANSansWeb_Light.woff2) format("woff2"),
    url(../fonts/IRANSansWeb_Light.woff) format("woff");font-weight:300;
font-style:normal
}
@font-face {
font-family:IRANSansWeb;
src:url(../fonts/IRANSansWeb.woff2) format("woff2"),
    url(../fonts/IRANSansWeb.woff) format("woff");
font-weight:400;font-style:normal
}
@font-face {
font-family:IRANSansWeb;
src:url(../fonts/IRANSansWeb_Medium.woff2) format("woff2"),
    url(../fonts/IRANSansWeb_Medium.woff) format("woff");font-weight:500;
font-style:normal
}
@font-face {
font-family:IRANSansWeb;
src:url(../fonts/IRANSansWeb_Bold.woff2) format("woff2"),
    url(../fonts/IRANSansWeb_Bold.woff) format("woff");
font-weight:700;font-style:normal
}
body{
    font-family:IRANSansWeb !important;
}
/* header */
header{
    width: 100%;
    height: 667px;
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../img/pexels-photo-441963.jpeg);
    background-size: cover;
    background-attachment: fixed;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.container .navigation{
    margin-top: 10px;
    float: right;
    width: 100%;
}
.container .logo{
    width: 100px;
    height: 100px;
    background-image: url('../img/logo-flat.png');
    background-size: cover;
    float: left;
    margin-left: 10px;
}
.container nav .navbar{
    float: right;
}
nav ul li{
    list-style: none;
    float: right;
    margin: 10px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease-in-out;
}
nav ul li a:hover{
    color: rgb(219, 204, 204);
    padding-bottom: 10px;
    border-bottom: 1px dashed #fff;
}
.show-menu{
    display: none;
    float: right;
    color: #fff;
}
#show-menu{
    display: none;
}
nav input[type=checkbox]:checked ~ .main-menu{
    display: block;
}
.site-title{
    clear: both;
    text-align: center;
    padding: 100px 0;
    color: #fff;
    font-size: 28px;
}
.site-title a{
    display: block;
    text-decoration: none;
    background-color: #ed143dbf;
    border-radius: 4px;
    font-size: 20px;
    width: 50%;
    margin: 0px auto;
    margin-top: 40px;
    padding: 13px;
    color: #fff;
}
.down{
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
}
.down a .fa-angle-down{
    margin-top: 50%;
    font-size: 50px;
    color: #fff;
    animation: down 1s linear infinite alternate;
}

/* Category */
#category{
    width: 100%;
    margin: 20px 0;
}
#category .cat{
    display: inline-block;
    width: 16.3%;
    text-align: center;
    padding: 25px 0;
    margin: 0 .05px;
}
#category div:nth-child(1){
    background-color: darkgoldenrod;
}
#category div:nth-child(2){
    background-color: coral;
}
#category div:nth-child(3){
    background-color: crimson;
}
#category div:nth-child(4){
    background-color: cornflowerblue;
}
#category div:nth-child(5){
    background-color: tomato;
}
#category div:nth-child(6){
    background-color: sienna;
}
#category .cat .fa{
    color: #fff;
    font-size: 40px;
    display: block;
    margin-bottom: 10px;
}
#category .cat a{
    color: #fff;
    text-decoration: none;
}
.title-content{
    text-align: center;
    background-color: steelblue;
    color: #fff;
    padding: 7px 0;
    border-radius: 5px;
    margin-bottom: 10px;
}
.cell-content{
    width: 24%;
    display: inline-block;
    margin: 10px 4px;
    position: relative;
}
.cell-content img{
    width: 100%;
    cursor: pointer;
    
}
.cell-content a{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    padding: 9px 0;
    display: none;
}
.cell-content:hover a{
    display: block;
}

/* Search */
.search{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)),url('../img/slider_new_03.jpg');
    background-size: cover;
    padding: 150px 0;
    background-attachment: fixed;
}
.search-box{
    text-align: center;
    color: orange;
    text-shadow: 0 0 5px #555;
}
.search-box input{
    margin-top: 25px;
    width: 60%;
    padding: 12px 10px;
    text-align: center;
    font-size: 18px;
    opacity: 0.7;
    border-radius: 6px;
    border: none;
    transition: all 0.3s ease-in-out;
}
.search-box input:hover{
    opacity: 1;
}
.information{
    margin: 20px 0;
}
.information .info{
    display: inline-block;
    width: 24%;
    text-align: center;
    margin: 4px;
}
.information .info h3{
    font-size: 22px;
    margin-top: 10px;
}

/* Footer */
footer{
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: cornflowerblue;
    overflow: hidden;
}
footer span:nth-child(1){
    float: right;
    margin-right: 10px;
    color: #fff;
}
footer span:nth-child(2){
    float: left;
    margin-left: 10px;
    color: #fff;
}
footer span:nth-child(2) a{
    text-decoration: none;
    color: rgb(201, 187, 187);
}
footer span a{
    margin: 25px 0 0 5px;
}
/* Responsive */
@media screen and (max-width:495px){

    /* header */
    .logo{
        display: none;
    }
    .down{
        display: none;
    }
    .site-title{
        font-size: 22px;
    }
    .show-menu{
        display: block;
        margin: 5px;
        float: none;
    }
    nav .navbar{
        display: inline-block;
        width: 100%;
    }
    nav ul li{
        padding: 5px 0;
        line-height: 26px;
        float: none;
        margin: 0;
        text-align: center;
        background-color: steelblue;
        border-bottom: 1px solid #fff;
    }
    nav ul li:hover{
        opacity: 0.6;
    }
    nav .main-menu{
        display: none;
    }
}

@media screen and (max-width: 950px){
    #category .cat{
        width: 16.2%;
    }
}

@media screen and (max-width: 749px){
    #category .cat{
        width: 16%;
    }
    .cell-content{
        width: 22.5%;
    }
}

@media screen and (max-width: 700px){
    #category .cat{
        width: 31%;
        margin: 0 6px
    }
}
@media screen and (max-width: 644px){
    #category .cat{
        width: 46%;
        margin: 0 11px
    }
}
@media screen and (max-width: 616px){
    #category .cat{
        width: 93%;
        margin: 0 19px
    }
}

@media screen and (max-width: 1115px){
    .cell-content{
        width: 23.5%;
    }
    .information .info{
        width: 23%;
    }
    .information .info img{
        width: 210px;
    }
    
}
@media screen and (max-width: 870px){
    
    .information .info{
        width: 22%;
        margin: 11px;
    }
    .information .info img{
        width: 190px;
    }
    
}
@media screen and (max-width: 849px){
    
    .information .info{
        width: 46%;
        margin: 12px;
    }
    .information .info img{
        width: 190px;
    }
    
}
@media screen and (max-width: 666px){
    
    .information .info{
        width: 45%;
        margin: 12px;
    }
    .information .info img{
        width: 190px;
    }
    
}
@media screen and (max-width: 536px){
    
    .information .info{
        width: 44%;
        margin: 12px;
    }
    .information .info img{
        width: 190px;
    }
    
}
@media screen and (max-width: 554px){
    footer span:nth-child(2){
        font-size: 10px;
        margin-right: 8px;
        vertical-align: sub;
    }
    footer span:nth-child(1){
        font-size: 14px;
    }
}
@media screen and (max-width: 749px){
    .cell-content{
        width: 31.5%;
    }
}
@media screen and (max-width: 597px){
    .cell-content{
        width: 47.5%;
    }
    .search-box h2{
        font-size: 18px;
    }
}